
.contactCard {
    margin-bottom: 1rem;
    padding: 0px;
    word-wrap: normal;
}

.accordion-button{
    padding: 0px;
}
.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.125);
}
.accordion-button:not(.collapsed) {
    color: #000;
    background-color: #fff;
    box-shadow: none;
}